.axdo{
    height:8rem;
    width: auto;
    }
    .axse{
        height: 5.5rem;
        width: auto;
    }
 .axch{
    height: 7.2rem;
    width: auto;
 }
 .card{
    .card-header{
        border: none;
    }
    border: none;
 }
 .rounded-5{
    border-radius: 5%;
 }