@mixin btnstyle {
    border: none;
    background-color: $rang;
}
@mixin rast2 {
    border-right: $takborder;
    height: 20px;
}
@mixin email{
outline: none;
@include btnstyle();
border-top-left-radius: $radius;
border-bottom-left-radius: $radius;
padding-bottom: 4px;
}